/* ---DEBUG--- */
.debug .container,
.debug .container-fluid,
.debug-noheight .container,
.debug-noheight .container-fluid  {
    background-color: lightblue;
    border: 1px solid red;
    color:black
}
.debug [class*='col-'] {
    background-color: yellow;
    border:1px solid blue;
    height: 200px;
}
.debug section,
.debug-noheight section {
    border: 2px solid green;
}

.debug-noheight [class*='col-'] {
    border:1px solid blue;
    background-color: yellow;
}
/* ---DA CANCELLARE --- */
/* header,
#jumbotron,
#sezione_loghi,
#sezione_des4dev,
#sezione_regioni,
#sezione_testimonials,
#sezione_cta,
footer {
    background-color: grey;
} */


/* ---------------------- STYLE ---------------------- */

/* -- TIPOGRAFIA-- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: rgb(3, 27,78);
}
p {
    font-family: 'Inter', sans-serif;
    color: rgb(91, 105, 135);
}
p:last-child {
    margin-bottom: 0;
}
/* --PALETTE COLOR-- */
.ms_font_white{
    color: white;    
}
.ms_font_primaryblue {
    color: #004aff;
}
.bg_white {
    background-color: white;
}
.bg_lightgrey {
    background-color: rgb(243, 245, 249);
}
.bg_darkblue {
    background-color: hsl(220,95%,8%);
}
.bg_primaryblue {
    background-color: #004aff;
    border-color:#004aff ;
}
.bg_gradient_blue{
    background: linear-gradient(0deg, rgba(0,30,154,1) 0%, rgba(0,71,197,1) 100%);;
}


/* --BUTTONS-- */
.ms_google_login {
    background-color: white;
    color: grey;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px grey;
    position: relative;
    vertical-align: middle;
    margin:10px auto;
}
.ms_google_login img {
    height: 14px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
/* -- UTILITIES -- */

.ms_wrapped {
    width: 100%;
}
.ms_column_padding_right {
    padding-right: 40px;
}
.ms_padding_top_40 {
    padding-top: 40px;
}
.ms_padding_bottom_40 {
    padding-bottom: 40px;
}
.ms_padding_top_20 {
    padding-top: 20px;
}
.ms_padding_bottom_20 {
    padding-bottom: 20px;
}
.ms_column_padding_top {
    padding-top: 20px;
}


.ms_menu_inline {
    list-style: none;
    margin-bottom: 0;
}
.ms_menu_inline li{
    display: inline;
}

.ms_signin_box {
    padding:010px 20px 20px;
    border-radius: 5px;
}
a {
    color:#004aff;
}
a.ms_text_underline {
    text-decoration: underline;
}

.caption {
    font-size: 0.7em;
}


    /* --HEADER-- */
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.ms_navbar {
    margin-bottom: 0px;
}
#toggle_menu {
    color: #004aff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.navbar img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
header .ms_menu_inline li {
    padding: 5px;
    text-transform: capitalize;
}
header .ms_menu_inline li:first-child {
    padding-left: 0;
}
header .ms_menu_inline li:last-child {
    padding-right: 0;
}

#ms_signup {
    border: 1px solid #337ab7;
    padding: 5px;
    border-radius: 5px;
}

    /* -- MAIN -- */
main {
    margin-top: 50px;
}

 /* --JUMBOTRON-- */
#jumbotron {
    background-image: url('../img/bg_jumbotron.svg');
    background-size: cover;
    background-position: bottom;
}
#jumbotron h1 {
    font-size: 2.6em;
}
#jumbotron p {
    font-size: 1.2em;
}

#sezione_loghi img{
    max-width: 100%;
}

#sezione_des4dev img {
    max-width: 100%;
}

    /* --FOOTER-- */
footer {
    color: hsla(0,0%,100%,0.5);
}






















/* ---------- TABLET ---------- */

@media all and (min-width:768PX){

    /* --- UTILITIES --- */
.ms_wrapped {
    width: 750px;
    max-width: 1170px;
    margin: 0 auto;
}
.ms_column_padding_top {
    padding-top: 0px;
}

    /* --MAIN-- */
#jumbotron h1 {
    font-size: 3.8em;
}
#jumbotron p {
    font-size: 1.3em;
}
    
}


/* ---------- DESKTOP ---------- */

@media all and (min-width:992px){

    /* --- UTILITIES --- */
.ms_wrapped {
    width: 970px;
    max-width: 1170px;
    margin: 0 auto;
}
    
}



/* ---------- XL ---------- */

@media all and (min-width:1200px){

    /* --- UTILITIES --- */
.ms_wrapped {
    width: 1170px;
    margin: 0 auto;
}
    
}




